body{
color:rgb(255, 255, 255);
background:rgb(0, 0, 0);
font-family: "Momo Trust Display", sans-serif;
}


chamada {
 background blue
padding-bottom: 80px;
padding-top: 80px;
display: flex: ;
justify-context center;
}

.categoria{
padding-left: 20px;
padding-right: 20px;
}

div {
  margin-right: 20px;
}

